{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid" style="padding: 20px 40px; text-align: center;">
        {% if message != 'Nonexistent' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
        <h1><strong>{{ app.user.name }}</strong></h1>
        <div style="color: grey; font-size: 20px;">{{ app.user.userIdentifier }}</div>
        <hr>
        {% if bookings is not empty %}
            <h2>Your bookings</h2>
            <div class="row m-1">
                {% for book in bookings %}
                    <div class="card post col-6 col-md-4">
                        <a href="{{ path('station', {'id': book.station.id}) }}" style="text-decoration: none; color: black;">
                        <div class="card-body">
                            <h5 class="card-title mb-0">Location: {{ book.station.location.name }} - Car: {{ book.car.licensePlate }}</h5>
                            <span style="color: grey">Station number: {{ book.station.number }}</span>
                            <p class="mb-0">{{ book.chargestart|date("d/m/Y h:i", false) }} - {{ book.chargeend|date("d/m/Y h:i", false) }}</p>
                            <form action="{{ path('deleteBooking', {'id': book.id}) }}" style="display: inline;">
                                <button type="submit" class="btn btn-danger mt-2" style="width: 100px;">Delete</button>
                            </form>
                            <form action="{{ path('editBooking', {'id': book.id}) }}" style="display: inline;">
                                <button type="submit" class="btn btn-success mt-2" style="width: 100px;">Edit</button>
                            </form>
                        </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <hr>
        {% endif %}
        {% if app.user.getCars is not empty %}
            <h2>Your cars</h2>
            <div class="row m-1">
                {% for car in app.user.getCars %}
                    <div class="card post col-4 col-md-3">
                        <div class="card-body">
                            <form action="{{ path('deleteCar', {'id': car.id}) }}" style="display: inline; float: right;">
                                <button type="submit" class="btn btn-danger mt-2" style="width: 100px;">Delete</button>
                            </form>
                            <h5 class="card-title mb-0">License plate: {{ car.licensePlate }}</h5>
                            <p class="mb-0">Charging type: {{ car.chargeType }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>
        {% endif %}
        <h2>Add a car</h2>
        <form method="post">
            <div class="form-row">
                <div class="form-group col-6">
                    <input name="license" type="text" class="form-control" placeholder="License plate" required>
                </div>
                <div class="form-group col-6">
                    <select class="form-control" name="chrtype" required>
                        <option selected value="er">Select a charging type</option>
                        <option value="0">Type 0</option>
                        <option value="1">Type 1</option>
                        <option value="2">Type 2</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary col-1">Add car</button>
        </form>
    </div>
{% endblock %}


