{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid" style="padding: 20px 40px; text-align: center;">
        <h1>Station number {{ station.number }} from {{ station.Location.name }}</h1>
        <div style="color: grey; font-size: 20px;">Power: {{ station.power }}kWh | Price: {{ station.Location.price }}$/kW | Charger: {{ station.type }}</div>
        <hr>

        {% for error in errors %}
            <div class="alert alert-danger" role="alert">{{ error.message }}</div>
        {% endfor %}
        {% if message != 'Nonexistent' %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}

        {% if app.user %}
            <h3><strong>Make a booking</strong></h3>
            {{ form_start(form) }}
                <div class="form-row">
                    <div class="form-group col-4">
                        {{ form_row(form.start, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group col-4">
                        {{ form_row(form.end, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group col-4">
                        {{ form_row(form.car, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                {{ form_row(form.book, {'attr': {'class': 'btn btn-primary col-1'}}) }}
            {{ form_end(form) }}
        {% endif %}
        {% if not bookings is empty %}
            <hr>
            <h3><strong>Active bookings</strong></h3>
            <div class="row m-1">
                {% for booking in bookings %}
                    <div class="card col-4 post">
                        <div class="card-body pb-2">
                            <h5>{{ booking.chargestart|date("d/m/Y H:i", false) }} - {{ booking.chargeend|date("d/m/Y H:i", false) }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <hr>
            <h3><strong>Active bookings</strong></h3>
            <p><strong>There are no active bookings for this station!</strong></p>
        {% endif %}

        {% if app.user %}
            <hr style="border-color: rgb(23,8,8); border-width: 2px;">
            <h3><strong>Leave a review</strong></h3>
            <form action="{{ path('review', {"id": station.id}) }}" method="post">
                <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
                    <select class="form-control" style="width: 65px; height: 65px;" name="rating">
                        <option selected disabled value="-1">#</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <textarea class="form-control" name="review" placeholder="Write your review here"></textarea>
                </div>
                <button type="submit" class="btn btn-primary col-1 mt-3">Review</button>
            </form>
        {% endif %}

        {% if not reviews is empty %}
            <hr>
            <h3><strong>Reviews</strong></h3>
            {% for review in reviews %}
                <div class="card col-12 post">
                    <div class="card-body pb-2">
                        <h2>{{ review.user.name }}</h2>
                        <span style="color: #575454;">{{ review.rating }}/5</span>
                        <p>{{ review.text }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
